
/* Your CSS Code here. */
.holder{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
}
.item-1 {
	width:100px;
	height:100px;
	display:flex;
	background-color:red;
}